{% extends 'index.html' %}

{% block main %}

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% include 'navitem.html' %}
            </ul>
        </div>
<iframe src="/static/plots.html" width="100%" height="100%" >
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>
<footer class="bg-body-tertiary text-center text-lg-start", style="color:White">
    <div class="text-center p-3">
        Ivanov Aleksey
        <a class="text-body" href="https://github.com/Bot1noke/HSE_Main_Project" target="_blank", style="color:White">Professional buckwheater</a>
    </div>
</footer>
{% endblock %}